FunASR/.idea
FunASR/docs
FunASR/runtime
FunASR/tests
FunASR/web-pages
FunASR/*/__pycache__
FunASR/*/*/__pycache__
FunASR/examples/*/*/iic
*.zip
android/.dart_tool
android/.idea
android/build
wav2vec2-base-960h.required_operators.config
wav2vec2-base-960h.required_operators.with_runtime_opt.config

*.pyc
samples/
*.onnx
onnx
onnxruntime_flutter-main
just_waveform
*.ort
mainapp/.dart_tool
mainapp/.idea
mainapp/build
flutter_plugin_record
FunASR-main